body{

font-family:Arial;
background:#f2f2f2;
margin:0;

}

.header{

background:#0f8f41;
color:white;

padding:15px;
text-align:center;

}

.grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(200px,1fr));

gap:15px;

padding:15px;

}

.card{

background:white;

padding:15px;

border-radius:10px;

box-shadow:0 0 10px gray;

text-align:center;

}

.buttons{

text-align:center;
padding:10px;

}

button{

width:150px;
height:50px;

font-size:18px;

border:none;

border-radius:10px;

color:white;

margin:5px;

cursor:pointer;

}

.green{
background:green;
}

.red{
background:red;
}

.blue{
background:blue;
}

.orange{
background:orange;
}

.chartbox{

background:white;

margin:20px;

padding:20px;

border-radius:10px;

}